* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
/*********Footer*********/
footer {
    width: 100%;
    height: 100%;
    grid-area: 16/1/17/17;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > * {
    padding: 0.15rem;
    color: #000;
}
/*********Buttons*********/
.Btn {
    appearance: none;
    background-color: rgb(109, 220, 187);
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
.Btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.Btn:hover {
    background-color: rgb(172, 176, 239);
}

.Btn:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
}

.Btn:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
}

.Btn:active {
    background-color: rgb(109, 220, 187);
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
/*----------BTN-17--------*/
.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
        rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 28px;
    justify-content: center;
    letter-spacing: 0.25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 15px 12px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.button-17:hover {
    background: #f6f9fe;
    color: #174ea6;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
        0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}
/*****LandingPager *****/
.LandingPage-Main {
    grid-area: 5/4/13/14; /*od 1366px,  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --b: 1em; /* border width */
    --c: 6em; /* corner size */
    --r: 0em; /* corner rounding */
    position: absolute;
    border: solid var(--b) transparent;
    width: 100%;
    height: 100%;

    &::before {
        position: absolute;
        inset: calc(-1 * var(--b));
        border: inherit;
        border-radius: var(--r);
        background: linear-gradient(rgb(44, 140, 249), deeppink, #1f87ff)
            border-box;
        --corner: conic-gradient(
                from -90deg at var(--c) var(--c),
                red 25%,
                #0000 0
            )
            0 0 / calc(100% - var(--c)) calc(100% - var(--c)) border-box;
        --inner: conic-gradient(red 0 0) padding-box;
        -webkit-mask: var(--corner), var(--inner);
        -webkit-mask-composite: source-out;
        mask: var(--corner) subtract, var(--inner);
        content: "";
    }
}
.Welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: solid 3px deeppink;
    border-bottom: solid 12px rgb(44, 140, 249);
    width: 85%;
    height: 80%;
    padding: 6%;
}
.Logo {
    position: absolute;
    grid-area: 1/5/5/13;
    width: 100%;
    height: 100%;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}

.Locker {
    position: absolute;
    grid-area: 15/8/16/10;
    width: 100%;
    height: 100%;
    background-image: url(./images/locker.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.Sub-LandingPage-Main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 85%;
    height: 80%;
    padding: 6%;
    opacity: 0;
    z-index: -1;
}
.Introduction-Cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    width: 100%;
    text-align: center;
    height: 100%;
}
section > h3 {
    width: 100%;
    height: 100%;
    padding: 0.25rem;
}
section > p {
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: justify;
}
.btn-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opacity0 {
    opacity: 0;
    z-index: -1;
}
.opacity1 {
    opacity: 1;
    z-index: 1;
}
@media screen and (max-width: 1366px) {
    .LandingPage-Main {
        grid-area: 5/2/13/16;
    }
}

@media screen and (max-width: 840px) {
    .LandingPage-Main {
        grid-area: 5/1/15/-1;
    }
}
@media screen and (max-width: 607px) {
    .LandingPage-Main {
        grid-area: 5/1/15/-1;
    }
    .Sub-LandingPage-Main {
        width: 85%;
        height: 80%;
        padding: 1%;

        font-size: smaller;
    }
    .btn-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-container > button {
        width: 5rem !important;
    }
    .btn-container > a > button {
        width: 5rem !important;
    }
}
@media screen and (max-width: 380px) {
    .LandingPage-Main {
        grid-area: 4/1/15/-1;
    }
}
/************Cyphers************/
.Cyphers-Main {
    width: 100%;
    height: 100%;
    grid-area: 1/1/-1/-1;
    background-image: url(./images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
/************Encodings************/
.Encoding {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 4rem;
    box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
        0px 50px 15px 22px rgba(0, 0, 0, 0);
    grid-area: 3/2/14/7;
    background-color: rgb(164, 183, 197);
}

.Encryption-Form {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100%;
}
.Encryption-Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    grid-area: 2/2/3/10;
}
.Input-Encode {
    width: 100%;
    grid-area: 3/2/4/10;
}
.fa-lock {
    font-size: x-large;
    margin: 1%;
    padding: 1%;
}
.fa-lock-open {
    font-size: x-large;
    margin: 1%;
    padding: 1%;
}
.selector {
    width: 100%;
    height: 100%;

    grid-area: 3/2/5/10;
}
.Encrypted-Message {
    grid-area: 7/2/10/10;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 229, 229);
    border-radius: 2rem;
}
.Encrypted-Message > h3 {
    font-size: 1.1vw;
}
.Encrypted-Message > strong {
    font-size: 0.9vw;
}
.text-to-copy {
    color: deeppink;
    padding: 0.2rem;
    margin: 0.2rem;
}
.H3-Img-En {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 90%;
    height: 100%;
}
.H3-Img-En > h3 {
    color: #fff;
    font-size: 3vw;
    text-align: center;
    text-shadow: 0 0 10px #000;
    padding: 2rem;
}
.H3-Img-En > img {
    position: relative;
    width: 45%;
    height: auto;
}
/**************Decodings**************/
.Decoding {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    grid-area: 7/8/14/12;
    border-radius: 4rem;
    box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
        0px 50px 15px 22px rgba(0, 0, 0, 0);
}
.pulse-on {
    transition: transform 0.3s;
}
.pulse-on:hover {
    transform: scale(1.1);
    opacity: 1;
}
.Decryption-Form {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100%;
}
.Decryption-Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    grid-area: 2/2/3/10;
}
.Input-Decode {
    width: 100%;
    grid-area: 3/2/4/10;
}
.selector {
    width: 100%;
    height: 100%;

    grid-area: 3/2/5/10;
}
.Decrypted-Message {
    grid-area: 7/2/10/10;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 229, 229);
    border-radius: 2rem;
}
.Decrypted-Message > h3 {
    font-size: 1.1vw;
}
.Decrypted-Message > strong {
    font-size: 0.9vw;
}
.H3-Img-De {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}
.H3-Img-De > h3 {
    color: #fff;
    font-size: 3vw;
    text-align: center;
    text-shadow: 0 0 10px #000;
    padding: 2rem;
}
.H3-Img-De > img {
    position: relative;
    width: 25%;
    height: auto;
}
.fa-rotate {
    font-size: x-large;
    margin: 1%;
    padding: 1%;
    grid-area: 8/9/9/10;
}
.copy {
    width: 15%;
}
.crypt {
    padding: 2.5rem !important;
}
@media screen and (max-width: 1360px) {
    .Encoding {
        grid-area: 3/2/14/8;
    }
    .Decoding {
        grid-area: 7/9/15/15;
    }
}
@media screen and (max-width: 1050px) {
    .Encoding {
        grid-area: 4/2/13/8;
    }
    .Decoding {
        grid-area: 7/9/15/15;
    }
    .Cyphers-Main {
        background-position: center;
        background-size: cover;
    }
}
@media screen and (max-width: 915px) {
    .Encoding {
        grid-area: 2/3/8/15;
    }
    .Decoding {
        grid-area: 9/3/15/15;
    }
    .Encrypted-Message > h3 {
        font-size: 1.5vw;
    }
    .Encrypted-Message > strong {
        font-size: 1.5vw;
    }
    .Decrypted-Message > h3 {
        font-size: 1.5vw;
    }
    .Decrypted-Message > strong {
        font-size: 1.5vw;
    }
    .text-to-copy {
        color: rgb(35, 240, 45);
        padding: 0;
    }
    .copy {
        width: 4rem;
        font-size: 50% !important;
    }
    .crypt {
        padding: 1rem !important;
        font-size: 50% !important;
    }
}
@media screen and (max-width: 615px) {
    .Encoding {
        grid-area: 2/2/9/16;
    }
    .Decoding {
        grid-area: 10/2/16/16;
    }
    .crypt {
        margin-top: 1rem;
    }
    .button-17 {
        padding: 0 !important;
    }
}
